.block-header {
  width: 1920px;
  height: 800px;
  background: url("../img/bg_header.png") no-repeat; }

.block-header__hat {
  border-bottom: 3px solid rgba(255, 255, 255, 0.205); }

.block-header__title {
  margin-top: 35px;
  padding-bottom: 33px;
  display: inline-block;
  margin-left: 51px;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #ede0f8; }

.logo {
  margin-left: 360px;
  margin-right: 282px;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  color: #f5da0b; }

.block-header__h1 {
  font-size: 45px;
  line-height: 55px;
  font-weight: 700;
  color: #ffffff;
  padding-top: 149px;
  margin-left: 360px; }

.header-special__text {
  display: block; }

.block-header__h2 {
  display: inline-block;
  vertical-align: middle; }

.h2-text {
  margin-top: 80px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #ffffff; }

.h2-image {
  margin-left: 360px;
  margin-right: 15px;
  margin-top: 80px; }

.header-button-O {
  font-size: 16px;
  line-height: 55px;
  font-weight: 700;
  color: #ffffff;
  background-color: none;
  width: 224px;
  border: 2px solid #ffffff;
  margin-top: 41px;
  margin-left: 359px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  vertical-align: middle;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.header-button-O:hover {
  cursor: pointer;
  background-color: rgba(236, 33, 33, 0.356);
  border-color: rgba(180, 5, 5, 0.623); }

* {
  margin: 0;
  padding: 0;
  font-family: Arial; }

.block-section {
  width: 1920px; }

.block-section__title {
  margin-left: 356px;
  margin-top: 140px;
  font-size: 35px;
  line-height: 55px;
  font-weight: 700;
  color: #8b67d6; }

.block-section__list {
  margin-left: 360px;
  margin-top: 25px; }

.li-last {
  padding-bottom: 142px; }

.section-list__li {
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px; }

.block-last {
  width: 1920px;
  height: 800px;
  background: url("../img/bg_last.png") no-repeat; }

.block-last__info {
  width: 996px;
  display: inline-block;
  margin-left: 462px;
  margin-top: 140px;
  background-color: #fff;
  border-radius: 20px; }

.block-last__title {
  font-size: 35px;
  line-height: 55px;
  font-weight: 700;
  color: #8b67d6;
  margin-top: 44px;
  margin-left: 112px; }

.block-last__h3 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #311b5e;
  margin-left: 205px;
  text-align: center;
  width: 60%;
  margin-top: 35px; }

.block-last__button {
  background: none;
  width: 224px;
  border: 2px solid #b180e4;
  margin-top: 40px;
  margin-bottom: 44px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-left: 374px;
  font-size: 16px;
  line-height: 55px;
  font-weight: 700;
  color: #b180e4; }

.block-last__button:hover {
  cursor: pointer;
  background-color: rgba(236, 33, 33, 0.356);
  border-color: rgba(180, 5, 5, 0.623); }

.last-logo {
  display: block;
  margin-left: 913px;
  margin-top: 170px; }

.modal {
  display: none; }

.modal:before {
  content: "";
  background: #000;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  z-index: 9999; }

.modal-block {
  position: fixed;
  top: 20%;
  left: 26%;
  width: 50%;
  border: 1px solid orange;
  border-radius: 4px;
  z-index: 99999;
  opacity: 1;
  background: rgba(44, 3, 226, 0.979);
  background-size: cover;
  text-align: center; }

.modal-close {
  position: absolute;
  top: -20px;
  right: -15px;
  color: #ffffff;
  cursor: pointer; }

.modal-block__header {
  font-size: 21px;
  line-height: 22px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(71, 12, 182, 0.76);
  padding: 1%; }

.modal-block__title {
  font-size: 30px;
  line-height: 27px;
  font-weight: 400;
  color: #ffffff; }

.modal-special__text {
  font-size: 24px; }

.modal-block__subtitle {
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
  color: #ffffff;
  padding-top: 30px;
  padding-bottom: 19px; }

.modal-block__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.modal-block__input input {
  padding-left: 10px;
  border-radius: 5px;
  font-size: 14px;
  line-height: 42px;
  font-weight: 300;
  color: #373737;
  width: 150%; }

.modal-block__button {
  margin-left: 16%; }

.modal-block__btn {
  padding: 11px 20px; }

.modal-block__small {
  font-size: 14px;
  line-height: 30px;
  font-weight: 300;
  color: #ffffff; }

@media screen and (max-width: 420px) {
  .block-header__title {
    margin: 0;
    margin-left: 160px;
    display: block; }

  .block-header__h1 {
    margin: 0;
    margin-top: 50px;
    margin-left: 40px;
    padding: 0;
    padding-top: 10px;
    font-size: 35px; }

  .block-header__h2 {
    margin: 0;
      margin-left: 30px;
    margin-top: 20px; }

  .header-button-O {
    margin-left: 90px; }

  .block-section__title {
    margin-left: 9px;
    font-size: 25px; }

  .block-section__list {
    margin-left: 3px; }

  .list-text {
    width: 15%; } }

/*# sourceMappingURL=main.css.map */